{% extends 'layout.html' %}

{% block body %}

<!-- Header -->
<div class="row valign-wrapper">
        <div class="col m6">
          <h5 class="headingHome left valign-wrapper" style="color:#2e4369"><i class="small material-icons left">person</i>Complete your profile</h5>
        </div>
        <div class="col m6">
        
        </div>
      </div>
<center>
            
       
            <div class="container1">
                <div class="z-depth-1 white lighten-4 row card"
                    style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                    
                    <form class="col s12" action="/profile">
                        <div class='row'>
                            <div class='col s12'>
                            </div>
                        </div>
                        	<div class='row'>
                                <div class='input-field col s12'>
                                    <textarea id="skills" class="materialize-textarea"></textarea>
          						<label for="skills">Skills</label>
                                </div>
                                
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    <textarea id="projects" class="materialize-textarea"></textarea>
          						<label for="projects">Projects</label>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    <textarea id="achievements" class="materialize-textarea"></textarea>
          						<label for="achievements">Achievements</label>
                                </div>
                            </div>


							<div class='row'>
                                <div class='input-field col s12'>
                                    <textarea id="prefferedlocation" class="materialize-textarea"></textarea>
          						<label for="prefferedlocation">Preferred Location</label>
                                </div>
                            </div>
                        

                        <div class='row'>
                                <div class="input-field col s12">
					    			<select>
									      <option value="" disabled selected>Bachelor</option>
									      <option value="1">Bachelor</option>
									      <option value="2">Masters</option>
									      <option value="3">Ph.D.</option>
					    			</select>
					    			<label>Education Level</label>
					  			</div> 

                                <div class='input-field col s6'>
                                        <input class='validate' type='text' name='major' id='major' />
                                        <label for='major'>Major</label>
                                </div>

                                <div class='input-field col s6'>
                                        <input class='validate' type='text' name='cgpa' id='cgpa' />
                                        <label for='cgpa'>CGPA</label>
                                </div>
								<div class='input-field col s6'>
                                        <input class='validate' type='text' name='year' id='year' />
                                        <label for='year'>Year</label>
                                </div>
                                <div class='input-field col s6'>
                                        <input class='validate' type='text' name='institution' id='institution' />
                                        <label for='institution'>Institution</label>
                                </div>
                        </div>

                        <div class='row'>
                                <div class="input-field col s12">
					    			<select>
									      <option value="" disabled selected>Experience 1</option>
									      <option value="1">Experience 1</option>
									      <option value="2">Experience 2</option>
									      <option value="3">Experience 2</option>
					    			</select>
					    			<label>Experience</label>
					  			</div> 

                                <div class='input-field col s6'>
                                        <input class='validate' type='text' name='position' id='position' />
                                        <label for='position'>Position</label>
                                </div>

                                <div class='input-field col s6'>
                                        <input class='validate' type='text' name='orgnaization' id='orgnaization' />
                                        <label for='orgnaization'>Orgnaization</label>
                                </div>
								<div class='input-field col s6'>
                                        <input class='validate' type='text' name='duration' id='duration' />
                                        <label for='duration'>Duration</label>
                                </div>
                                <div class='input-field col s12'>
                                    <textarea id="responsibilities" class="materialize-textarea"></textarea>
          						<label for="responsibilities">Key Responsibilities</label>
                                </div>
                        </div>


			            <div class = "row">
			               <label>Upload Resume</label>
			               <div class = "file-field input-field">
			                  <div class = "btn">
			                     <span>Browse</span>
			                     <input type = "file" />
			                  </div>
			                  
			                  <div class = "file-path-wrapper">
			                     <input class = "file-path validate" type = "text"
			                        placeholder = "Upload file" />
			                  </div>
			               </div>
			            </div>

                        <center>
                            <div class='row'>
                                    <button type='submit' name='btn_login'
                                    class='col s12 btn btn-large waves-effect indigo'>Complete Profile</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
            <a href="/login" style="color:lightgray">Login instead</a>
        </center>

        <div class="section"></div>
        <div class="section"></div>
    </main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}